<p id="notice"><%= notice %></p>

<h1>Listing Trial Controllers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trial_controllers.each do |trial_controller| %>
      <tr>
        <td><%= link_to 'Show', trial_controller %></td>
        <td><%= link_to 'Edit', edit_trial_controller_path(trial_controller) %></td>
        <td><%= link_to 'Destroy', trial_controller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trial controller', new_trial_controller_path %>
